$m : '.m-archive';

// year nav
#{$m} .years {
  list-style-type: none;
  margin: -1rem 0 1.5rem 0;
  padding: 0;
  li {
    display: inline-block;
    margin-right: .75rem;
    a:before {
      content: "'";
      @media(min-width: 500px) {
        content: '20';
      }
    }
  }
}

// month seperator
#{$m} .month {
  @extend %clearfix;
  margin-bottom: 2rem;
}

// month data
#{$m} .meta {
  @extend %clearfix;
  margin-bottom: 1rem;
  @media(min-width: 600px) {
    float: left;
    width: 30%;
    margin: .25rem 0 0 0;
  }
  h4 {
    float: left;
    font-family: $font-body;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    @media(min-width: 600px) {
      float: none;
    }
  }
  span {
    float: right;
    color: $color-gray;
    font-size: .9rem;
    @media(min-width: 600px) {
      float: none;
      display: block;
    }
  }
  .posts:after {
    content: ',';
    display: inline;
    margin-right: .5rem;
    @media(min-width: 600px) {
      display: none;
    }
  }
}

// post list
#{$m} .posts {
  list-style-type: none;
  margin: 0;
  padding: 0;
  @media(min-width: 600px) {
    float: left;
    width: 70%;
  }
  li {
    @extend %clearfix;
    margin: .4rem 0;
  }
  .day {
    display: inline-block;
    float: left;
    background-color: $color-gray;
    padding: .15rem .25rem;
    font-size: .75rem;
    border-radius: .15rem;
    width: 1.5rem;
    text-align: center;
    color: #FFF;
  }
  .title {
    float: right;
    display: inline;
    margin: 0 0 0 .5rem;
    width: calc(100% - 2rem);
  }
  .comments {
    font-size: .6rem;
    color: $color-gray;
    display: inline-block;
    position: relative;
    margin-left: 1rem;
    &:before {
      content: '';
      display: block;
      position: absolute;
      left: -15px;
      top: 1px;
      width: 12px;
      height: 8px;
      border-radius: 2px;
      background-color: $color-gray;
    }
    &:after {
      content: '';
      display: block;
      position: absolute;
      left: -11px;
      top: 9px;
      width: 0;
      height: 0;
      border-top: 4px solid $color-gray;
      border-right: 4px solid transparent;
    }
  }
}