$m : '.m-comments';

// basic comments list
#{$m} {
  ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      padding: 2rem 0;
      border-bottom: 1px solid lighten($color-black, 50%);
      &:first-child {
        padding-top: .5rem;
      }
      &:last-child {
        border: 0;
      }
      @media(min-width: 700px) {
        @extend %clearfix;
      }
      & > b {
        margin: 0;
        font-size: 1rem;
        &:after {
          content: ':';
          margin-right: .15rem;
        }
        @media(min-width: 700px) {
          float: left;
          display: block;
          width: 25%;
          text-align: right;
          &:after {
            content: '';
            margin-right: 0;
          }
        }
      }
      & > p {
        margin: 0;
        display: inline;
        word-wrap: break-word;
        @media(min-width: 700px) {
          float: right;
          display: block;
          width: 70%;
        }
      }
      & > i {
        display: block;
        margin: .25rem 0 0 0;
        font-size: .7rem;
        color: lighten($color-black, 25%);
        @media(min-width: 700px) {
          float: left;
          display: block;
          width: 25%;
          text-align: right;
        }
      }
    }
  }
}