$m : '.m-entry';

// base
#{$m} {

}

// byline section
#{$m}__byline {
  list-style-type: none;
  padding: 0;
  margin: -1rem 0 1.5rem 0;
  position: relative;
  font-size: .75rem;
  .comments {
    position: absolute;
    top: 0;
    right: 0;
  }
}

// entry holder
#{$m} section {
  font-size: 1rem;
  br {
    display: block;
    content: '';
    margin: 1.5rem 0;
  }
  img {
    width: 100vw;
    max-width: 500px;
    display: block;
    margin: 0 -1.5rem;
    @media(min-width: 500px) {
      width: 100%;
      margin: 0 auto;
    }
  }
  ul, ol {
    
    br {
      margin: 0;
    }
    li {
      margin: 1rem 0;
    }
  }
}

// categories list
#{$m} .categories {
  list-style-type: none;
  margin: 1.5rem 0;
  padding: 0;
  @media(min-width: 500px) {
    li {
      display: inline-block;
      &:after {
        content: ',';
      }
      &:last-child:after {
        display: none;
      }
    }
  }
  &:before {
    content: 'Categories:';
    display: block;
    font-family: $font-header;
  }
}