$m : '.m-phlog';

// phlog index
#{$m}__index {
  list-style-type: none;
  padding: 0;
  margin: 0;
  @media(min-width: 500px) {
    @extend %clearfix
  }
  li {
    position: relative;
    display: block;
    background-size: cover;
    background-repeat: none;
    background-position: center;
    height: 10rem;
    margin-bottom: 1.5rem;
    @media(min-width: 500px) {
      width: 48%;
      height: 10rem;
      margin-bottom: 1.2rem;
      &:nth-child(odd) { float: left; }
      &:nth-child(even) { float: right; }
    }
    a {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,0.6);
      color: #FFF;
      padding: 1rem;
    }
    h3 {
      margin: 0;
      font-family: $font-body;
      font-size: 1.5rem;
      line-height: 1.1;
      @media(min-width: 500px) { font-size: 1.2rem; }
      @media(min-width: 700px) { font-size: 1.4rem; }
    }
    p {
      margin: .3rem 0 0 0;
      font-size: .8rem;
      color: #AAA;
      @media(min-width: 500px) {
        span {
          display: block;
        }
      }
    }
  }
}