* {
  box-sizing: border-box;
}

html,body {
  color: $color-black;
  font-family: $font-body;
  background-color: $color-gray;
  
  h1,h2,h3,h4,h5,h6 {
    font-family: $font-header;
    text-transform: uppercase;
  }
  
  a {
    text-decoration: none;
    color: $color-red;
    
    &.broken {
      color: lighten($color-red, 20%);
      border-bottom: 1px dotted lighten($color-red, 40%);
      
      &:hover {
        text-decoration: none !important;
      }
      
    }
    
  }
    
}