$container-width: 700px;
$font-header: 'Paytone One', sans-serif;
$font-body: "Helvetica Neue", Helvetica, Arial, sans-serif;
$color-gray: #AAA;
$color-red: #DC0000;
$color-light-gray: #DDD;
$color-black: #333;