<article class="m-entry">
  <h1>{{ title }}</h1>
  <ul class="m-entry__byline">
    <li class="byline">Written by <a href="author/{{ author_id }}">{{ author }}</a></li>
    <li class="comments"><a href="#comments">{{ comments.length }} comments</a></li>
    <li class="time">{{ time }}</li>
  </ul>
  <section>
    {{{ cleanBody }}}
  </section>
  <section class="m-comments">
    <a name="comments"></a>
    <h2>{{ comments.length }} comments</h2>
    <ol>
      {{#comments}}
      <li>
        <b>{{ author }}</b>
        <p>{{{ cleanBody }}}</p>
        <i>{{ time }}</i>
      </li>
      {{/comments}}
    </ol>
  </section>
</article>